<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    </head>
    <body>
        <header>
            <div>
                <h1 id="title">MAllup</h1>
            </div>
        </header>
        <main>
            <h1>Oi Lari!</h1>
            <h2>Tudo bem?</h2>
        </main>
        <footer>
            <div class="div-footer">
                <img class="image-vector" src="static/Assets/Vector.svg"></img>
                <h5 class="text-footer">Favoritos</h5>
            </div>
            <div class="div-footer">
                <img class="image-vector" src="static/Assets/vector2.svg"></img>
                <h5 class="text-footer">Procurar</h5>
            </div>
            <div class="div-footer">
                <img class="image-vector" src="static/Assets/vector3.svg"></img>
                <h5 class="text-footer">Mensagens</h5>
            </div>
            <div class="div-footer">
            <img class="image-vector-2" src="static/Assets/vector4.svg"></img>
            </div>
        </footer>
    </body>
</html>