@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');

html {
  padding:0;
  margin:0;
  max-height: 100vh;

}

body {
  padding: 0;
  margin:0;
  max-height: 100vh;
}

header {
  background-color: #5CBBD0;
  width:100%;
  height: 8vh;
}

h1 {
  margin:0;
}

#title {
  font-size: 5.5rem;
  color:white;
  font-family: 'Righteous';
  padding-top: 1vh;
  padding-left: 5vw;
}

footer {
  background-color: #5CBBD0;
  width:100%;
  height: 8vh;
  overflow: hidden;

}

.div-footer {
  height:8vh;
  width:25%;
  float: left;
  box-sizing: border-box;
}

.text-footer {
  font-family: 'Quattrocento Sans';
  padding-left: 7vw;
  padding-top:0.5vh;
  font-size:1.5rem;
  color:white;
  height:1.5vh;
  margin:0;
}
.image-vector {
  width:9vw;
  height:3vh;
  padding-left: 7vw;
  padding-top: 1.5vh;
}

.image-vector-2 {
  width:12vw;
  height:5vh;
  padding-left: 7vw;
  padding-top: 1.5vh;
}