@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');

body {
    padding: 0;
    margin: 0;
    max-height: 100vh;
    max-width: 100%;
    background-color: #5CBBD0;

}

h1 {
    text-align: center;
    vertical-align: center;
    font-size: 2rem;
    color: white;
    font-family: 'Righteous';
    padding-top: 1vh;
    padding-left: 5vw;
}

img {
    max-width: 15rem;
    margin-top: 6rem;
    margin-left: 6rem;
}

a {
    text-decoration: none;
}
.feed {
    margin-top: 6rem;
    margin-left: 5.5rem;
    font-size: 1.5rem;
    color: white;
    width: 16rem;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
}

.feed p {
    padding: .5rem;
    margin: 0;
    font-family: 'Quattrocento Sans';
}

.feed2 {
    margin-top: .5rem;
    margin-left: 5.5rem;
    font-size: 1.5rem;
    color: white;
    width: 16rem;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
}

.feed2 p {
    padding: .5rem;
    margin: 0;
    font-family: 'Quattrocento Sans';
}
